{% extends "base.html" %}
{% block title %}500 - Viva La Vida{% endblock title %}
{% block head %}
{{ super() }}
<link href="//fonts.googleapis.com/css?family=Lato:100" rel="stylesheet" type="text/css">
<style>
.container {
	text-align: center;
	display:table-cell;
	vertical-align: middle;
}
.content{
	text-align: center;
	display: inline-block;
}
.title{
	font-size: 72px;
	margin-top: 80px;
	font-family: 'Lato';
}
</style>
{% endblock head %}
{% block main %}
<div class="container">
	<div class="content">
		<div class="title">500 HTTP-Internal Server Error</div>
	</div>
</div>
{% endblock main %}
